/* ====== Google Fonts ======= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
    font-family: 'Poppins', sans-serif;
*/

/* Custom CSS */

:root{
    --btn-color: #289BDE;
    --font-poppins: 'Poppins', sans-serif;
    --color-dark1: #4A4A4A;
    --color-dark2: #4A4A4A;
    --color-dark3: #777777;
    --color-dark7: #F4F4F4;
}

/* Common or Utilities CSS */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-poppins);
}
h2{
    color: var(--color-dark1);
}
h3{
    color: var(--color-dark2);
}
p, a{
    color: var(--color-dark3);
}
.btn-pro {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: var(--btn-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.carousel-item p{
    color: var(--color-dark7);
}
